modules = ["java"]

[nix]
channel = "stable-24_05"
packages = ["wget", "openjdk"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CineBookCDO"

[[workflows.workflow]]
name = "CineBookCDO"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./compile.sh"

[deployment]
run = ["sh", "-c", "cd src && javac -d ../bin main/java/com/cinebook/Main.java && java -cp ../bin main.java.com.cinebook.Main"]
